<hr class="hr-top">
<section>
  <section class="col-2-3">
    <section class="col-1-3">
      <a href="#" class="title big">Launching the New React/Redux Curriculum</a>
      <div class="author">By APP ACADEMY INSTRUCTIONAL TEAM</div>
      <div class="body-text">
        <ul>
          <li>It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.</li>
          <li>
            The whole state of your app is stored in an object tree inside a single store.
            The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
          </li>
        </ul>
      </div>
      <a href="#" class="comments-link">1738 Comments</a>
    </section>

    <section class="col-2-3">
      <iframe src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
      <div class="body-text">
        Warning: This video will make you want to change your career
      </div>

      <hr>

      <a href="#" class="title small">Where Are They Now?</a>
      <div class="author">By APP ACADEMY ALUMNI</div>
      First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.

      <hr>

      <a href="#" class="title small">Cat Academy</a>
      <div class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
      App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.
    </section>
  </section>

  <section class="col-1-3">
    <section class="col-1">
    <h3 class="op-ed">The Opinion Pages</h3>
  </section>
    <section class="col-1-2">
      <div class="subject">Op-Ed Contributor</div>
      <a href="#" class="title small">Will Javascript ever be as easy as Ruby?</a>
      Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.
      <ul>
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>
    </section>
    <section class="col-1-2">
      <div class="subject">Operations</div>
      <a href="#" class="title small">App Academy New York Has A Brand New Office</a>
      <div class="author">By NY OPERATIONS</div>

      The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.
      <img class="floor" src="assets/new_office.jpg">
      <div class="title-no-line">Opinion Today, in your Inbox</div>
      Each weekday, get though-provoking commentary from our columnists and contributors.
    </section>
    <section class="col-1">
    <form action="index.html" method="post">
      <input class="sign-up" type="text" name="" value="Get the Opinion newsletter by email">
      <button>Sign Up</button>
    </form>
    <div class="foots">
      <p>
      We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.
      </p>
    </div>
    </section>
  </section>

</section>
