<h1>All users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to "Delete user", user_url(user), method: :delete %>
      <%= link_to "Make admin", user_make_admin_url(user), method: :patch %>
      <%= user.email %>
    </li>
  <% end %>
</ul>
