.masthead {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid black;
	position: relative;
	border-top: 1px solid $light-gray;
}

.language-nav {
	position: absolute;
	top: -15px;
	left: calc(50% - (177.78px/2));
	background: white;
	border: 1px solid $light-gray;
	border-bottom: none;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.language-nav a {
	margin: 0 5px;
	text-transform: uppercase;
	font-family: $sans-serif;
	font-size: 10px;
	color: $dark-gray;
}

.language-nav li:first-of-type {
	font-weight: bold;
}

.language-nav ul {
	display: flex;
}

.logo {
	max-width: 400px;
	margin-top: 10px;
}

.masthead-links {
	display: flex;
	font-family: $sans-serif;
	font-size: 11px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-links li {
	margin-left: 10px;
	list-style: none;
	border-right: 1px solid $light-gray;
}

.masthead-links li:last-child {
	border-right: none;
}

.masthead-links a {
	background: none;
	padding: 0px;
	color: #000;
	font-weight: normal;
	border: none;
	text-transform: capitalize;
	text-decoration: underline;
}

.masthead-links button:hover {
	background-color: $lightest-gray;
}

.masthead-links a,
.masthead-links button,
.masthead-links time {
	margin-right: 10px;
}

.masthead-links button {
	background-color: inherit;
	border-color: inherit;
	color: inherit;
	font-weight: inherit;
	padding: inherit;
	border-radius: none;
	font-family: inherit;
	text-transform: inherit;
	font-size: inherit;
	text-align: inherit;
}

.masthead-links i {
	margin-right: 5px;
}

.masthead-links strong {
	color: green;
}
