<h1>Login</h1>

<form class="" action="/session" method="post">
  <input type="hidden" name="authenticity_token" value="form_authenticity_token">

  <label for="username">Username</label>
  <input type="text" name="user[username]" value="">
  <label for="password">Password</label>
  <input type="text" name="user[password]" value="">

  <input type="submit" name="" value="Submit">
</form>
