<h1>Edit <%= @band.name %></h1>

<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Name: </label>
  <input type="text"
         name="band[name]"
         id="name"
         value="<%= @band.name %>">

  <br>

  <input type="submit" value="Submit">
</form>
