<h1>Bands</h1>

<ul>
  <% @bands.each do |band| %>
    <li><%= link_to band["name"], band_url(band), action: "show" %></li>
  <% end %>
</ul>

<h2>Links</h2>
<ul>
  <li><%= link_to "Add new band", new_band_url, action: "new" %></li>
  <% if current_user.admin %>
    <li><%= link_to "All users", users_url %></li>
  <% end %>
</ul>
