body {
  text-align: center;
}

h1 {
  font-family: Sans-serif;
}

li {
  border: 5px solid black;
  width: 190px;
  height: 190px;
  position: relative;
  float: left;
  background-color: gray;
}

li:hover {
  background-color: yellow;
}

.x:after {
  content: "x";
}

.o:after {
  content: "o";
}

.x, .o {
  font-size: 15vw;
  background-color: white;
}

.winner {
  background-color: green;
}

ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 600px;
  list-style-type: none;
  border: 5px solid black;
  display: table;
}
