<h1>Log in</h1>

<form action="/session" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="email">Email: </label>
  <input type="text"
         name="user[email]"
         id="user_email"
         value="">

  <br>

  <label for="password">Password: </label>
  <input type="text"
         name="user[password]"
         id="user_password"
         value="">

  <br>

  <input type="submit" value="Submit">
</form>
