<h1>Edit Link</h1>

<form action="<%= link_url(@link) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="Title">Title
  <input type="text" name="link[title]" value="<%= @link.title %>">
  </label>
  <br>

  <label for="URL">URL
  <input type="text" name="link[url]" value="<%= @link.url %>">
  </label>
  <br>

  <input type="submit" name="Submit" value="Update Link">
</form>
